@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

input {
  font-size: 20px;
  margin-left: 20px;
}
